@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
.mav2_icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.mav2_eye {
  background-image: url(../img/eye.svg);
}

.mav2_eye_close {
  background-image: url(../img/eye-off.svg);
}

.mav2_error {
  color: red;
}

.mav2-custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #E4E4ED;
  border-right-color: #051a44;
  -webkit-animation: mav2_s2 1s infinite linear;
          animation: mav2_s2 1s infinite linear;
}

.processing {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.processing .loader {
  background: #fff;
  padding: 30px;
  border-radius: 7px;
}

@-webkit-keyframes mav2_s2 {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes mav2_s2 {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
#order_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  position: relative;
}
#order_cards .order_card {
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  -webkit-box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.01);
          box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.01);
  color: #001A43;
  border: 1px solid #d3d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
#order_cards .order_card * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Nunito Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 600;
}
#order_cards .order_card .oc_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}
#order_cards .order_card .oc_left img {
  width: 132px;
  height: 132px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}
#order_cards .order_card .oc_left .oc_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#order_cards .order_card .oc_left .oc_data h3.oc_product_name {
  font-size: 24px !important;
  font-weight: bold;
  color: #4d4d4d;
}
#order_cards .order_card .oc_left .oc_data h4 {
  font-weight: bold;
}
#order_cards .order_card .oc_left .oc_data .oc_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#order_cards .order_card .oc_price_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#order_cards .order_card .oc_price_details .order_id {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
#order_cards .order_card .oc_price_details span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

#sub_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  position: relative;
}
#sub_cards .sub_card {
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  -webkit-box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.01);
          box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.01);
  color: #001A43;
  border: 1px solid #d3d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#sub_cards .sub_card * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Nunito Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 600;
}
#sub_cards .sub_card .sub_card_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#sub_cards .sub_card .sub_plan_details,
#sub_cards .sub_card .sub_product_values,
#sub_cards .sub_card .sub_plan_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#sub_cards .sub_card .sub_id {
  color: #001A43;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#sub_cards .sub_card .sub_product_name {
  color: #636466;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#sub_cards .sub_card .sub_plan_name {
  color: #000;
  font-weight: 700;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#sub_cards .sub_card .sub_plan_details,
#sub_cards .sub_card .sub_product_values,
#sub_cards .sub_card .sub_plan_shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  color: #001A43;
}
#sub_cards .sub_card .sub_plan_details span,
#sub_cards .sub_card .sub_product_values span,
#sub_cards .sub_card .sub_plan_shipping span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#sub_cards .sub_card .sub_plan_details ul,
#sub_cards .sub_card .sub_product_values ul,
#sub_cards .sub_card .sub_plan_shipping ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
#sub_cards .sub_card .sub_product_total {
  font-weight: 700;
}
#sub_cards .sub_card .sub_plan_status {
  margin-top: 32px;
  gap: 5px;
}
#sub_cards .sub_card .sub_plan_status .sub_button,
#sub_cards .sub_card .sub_plan_status .sub_status {
  background: transparent;
  border: 1px solid #001A43;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  max-width: 260px;
  font-size: 16px;
  color: #001A43;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#sub_cards .sub_card .sub_plan_status .sub_plan_inactive,
#sub_cards .sub_card .sub_plan_status .sub_plan_pending {
  background: rgba(128, 128, 128, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.2);
  color: rgba(128, 128, 128, 0.8);
}
#sub_cards .sub_card .sub_plan_status .sub_button {
  cursor: pointer;
}
#sub_cards .sub_card .sub_plan_status .sub_button:hover {
  background: #001A43;
  color: #fff;
}
#sub_cards .sub_card .sub_plan_status .sub_button:disabled {
  background: rgba(128, 128, 128, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.2);
  color: rgba(128, 128, 128, 0.8);
}

#user_address_update,
#account_details,
#payment_methods,
#user_password_update {
  position: relative;
}
#user_address_update form,
#account_details form,
#payment_methods form,
#user_password_update form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#user_address_update form *,
#account_details form *,
#payment_methods form *,
#user_password_update form * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Nunito Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 600;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#user_address_update form .mav2_success_alert,
#account_details form .mav2_success_alert,
#payment_methods form .mav2_success_alert,
#user_password_update form .mav2_success_alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2ecc71;
  border-radius: 4px;
  padding: 15px 25px 15px 25px;
  color: #fff;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
}
#user_address_update form .mav2_fg_row,
#account_details form .mav2_fg_row,
#payment_methods form .mav2_fg_row,
#user_password_update form .mav2_fg_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #user_address_update form .mav2_fg_row,
  #account_details form .mav2_fg_row,
  #payment_methods form .mav2_fg_row,
  #user_password_update form .mav2_fg_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#user_address_update form .mav2_fg,
#account_details form .mav2_fg,
#payment_methods form .mav2_fg,
#user_password_update form .mav2_fg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
#user_address_update form .mav2_fg label,
#account_details form .mav2_fg label,
#payment_methods form .mav2_fg label,
#user_password_update form .mav2_fg label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}
#user_address_update form .mav2_fg .with_icon,
#account_details form .mav2_fg .with_icon,
#payment_methods form .mav2_fg .with_icon,
#user_password_update form .mav2_fg .with_icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#user_address_update form .mav2_fg .with_icon span,
#account_details form .mav2_fg .with_icon span,
#payment_methods form .mav2_fg .with_icon span,
#user_password_update form .mav2_fg .with_icon span {
  position: absolute;
  right: 15px;
  opacity: 0.3;
}
#user_address_update form .mav2_fg .with_icon span:hover,
#account_details form .mav2_fg .with_icon span:hover,
#payment_methods form .mav2_fg .with_icon span:hover,
#user_password_update form .mav2_fg .with_icon span:hover {
  opacity: 0.6;
}
#user_address_update form .mav2_fg input,
#user_address_update form .mav2_fg select,
#account_details form .mav2_fg input,
#account_details form .mav2_fg select,
#payment_methods form .mav2_fg input,
#payment_methods form .mav2_fg select,
#user_password_update form .mav2_fg input,
#user_password_update form .mav2_fg select {
  width: 100%;
  padding: 8px 15px;
  background-color: #ffffff;
  border: 1px solid var(--e-global-color-accent);
  border-radius: 5px;
  font-size: 16px;
  color: rgb(88, 87, 87);
  height: 50px;
  max-height: 50px;
}
#user_address_update form .mav2_fg input:focus,
#user_address_update form .mav2_fg select:focus,
#account_details form .mav2_fg input:focus,
#account_details form .mav2_fg select:focus,
#payment_methods form .mav2_fg input:focus,
#payment_methods form .mav2_fg select:focus,
#user_password_update form .mav2_fg input:focus,
#user_password_update form .mav2_fg select:focus {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  outline: 0;
}
#user_address_update form .mav2_fg select,
#account_details form .mav2_fg select,
#payment_methods form .mav2_fg select,
#user_password_update form .mav2_fg select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23000' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 8px 10px;
  padding-right: 30px;
}
#user_address_update form button,
#account_details form button,
#payment_methods form button,
#user_password_update form button {
  cursor: pointer;
  background: var(--e-global-color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
  color: #fff;
  border: 1px solid var(--e-global-color-primary);
  border-radius: 30px 30px 30px 30px;
  padding: 15px 25px 15px 25px;
  margin-top: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#user_address_update form button:hover,
#account_details form button:hover,
#payment_methods form button:hover,
#user_password_update form button:hover {
  background: #001A43;
  color: #fff;
}
#user_address_update form button:disabled,
#account_details form button:disabled,
#payment_methods form button:disabled,
#user_password_update form button:disabled {
  background: rgba(128, 128, 128, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.2);
  color: rgba(128, 128, 128, 0.8);
}

#payment_methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#payment_methods .pm_tokens_table {
  width: 100%;
  background: #fff;
  text-align: left;
  border-collapse: collapse;
}
#payment_methods .pm_tokens_table th,
#payment_methods .pm_tokens_table td {
  font-weight: normal;
  padding: 10px;
}
#payment_methods .pm_tokens_table th {
  background: #051a44;
  color: #fff;
}
#payment_methods .pm_tokens_table td {
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}
#payment_methods .pm_tokens_table button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: red;
}
#payment_methods .pm_tokens_table button:hover {
  text-decoration: underline;
}
#payment_methods #new_payment_add {
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  -webkit-box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.01);
          box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.01);
  color: #001A43;
  border: 1px solid #d3d3d3;
}